<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" routerLink="squat" routerLinkActive="active">Squats</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" routerLink="plank" routerLinkActive="active">Planks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" routerLink="pushup" routerLinkActive="active">Pushups</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" routerLink="bridge" routerLinkActive="active">Bridges</a>
  </li>
</ul>

<hr>

<div class="mt-4">
  <router-outlet></router-outlet>
</div>